<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ketaki.kulkarni1-mitwpu.edu.in.HandleApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>handleapp</string>
			</array>
		</dict>
	</array>
	<key>GeminiAPIKey</key>
	<string>$(GEMINI_API_KEY)</string>
	<key>TwitterClientID</key>
	<string>$(TWITTER_CLIENT_ID)</string>
	<key>InstagramAppID</key>
	<string>$(INSTAGRAM_APP_ID)</string>
	<key>InstagramAppSecret</key>
	<string>$(INSTAGRAM_APP_SECRET)</string>
	<key>LinkedInClientID</key>
	<string>$(LINKEDIN_CLIENT_ID)</string>
	<key>LinkedInClientSecret</key>
	<string>$(LINKEDIN_CLIENT_SECRET)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
